<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mustsd.modules.notice.mapper.SysNoticeMapper">

    <select id="pageMyNotice" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page"
            resultType="com.github.mustsd.modules.notice.entity.SysNotice">
        select sn.id,sn.title,sn.send_by,sn.send_time,snu.id noticeUserId,
        snu.user_id,snu.read_flag,snu.read_time from sys_notice_user snu
        inner join sys_notice sn on sn.id=snu.notice_id
        ${ew.customSqlSegment}
    </select>
</mapper>
